.cal{
    margin: 0;
    padding: 0;
    text-align : center;
    font-family: sans-serif;
    
    min-height: 159vh;
    width: 50%;
    float: right;
    display: flex;
}
.bmi-box{
    /*bmi box adjustment*/
    width: 500px;
    height: 300px;
    position: relative;
   float: left;
    background-color: #fff;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px #222f3e;
    margin-top: 30%;

}
h2{
    font-size: 30px;
    font-weight: 600;
    
}
.text{
    text-align: left;
    margin-left: 150px;
    margin-top: 10px;

}

#w, #h{
    color: #222f3e;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid dimgrey;
    width: 200px;
}
#w:focus, #h:focus{
    border-bottom: 2px solid dimgrey;
    width: 300px;
    transition: 0.5s;
}
#result{
    color: #341f97;
    margin-top: 10px;
}

#btn{
    font-family: inherit;
    margin-top: 10px;
    border: none;
    color: #fafafa;
    background-image: linear-gradient(120deg, lightblue,lightblue);
    width: 150px;
    padding: 10px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
}
#btn:hover{
    box-shadow: 1px 1px 10px dimgrey;
}
#info{
    font-size: 12px;
    font-family: inherit;
    margin-top: 10px;
}
body{
    min-height: 100vh;
    background: url("https://digitshack.com/codepen/bmical/bg.png");


}
/*table*/
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}
.content-table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;

}
.content-table th, .content-table td{
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #827e7e;
}

/*--==FOOD CALORIFIC INDEX==--*/
.food-content-table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    
    font-size: 1.5em;
    min-width: 75rem;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.food-content-table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
.food-content-table th, .food-content-table td{
    padding: 12px 15px;
}
.food-content-table tbody tr{
    border-bottom: 1px solid #827e7e;
}